@font-face {
    font-family: indieflower;
    src: url("../fonts/IndieFlower-Regular.ttf");
}
@font-face {
    font-family: amatic;
    src: url("../fonts/AmaticSC-Regular.ttf");
}
@font-face {
    font-family: amatic-bold;
    src: url("../fonts/AmaticSC-Bold.ttf");
}
@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto-Medium.ttf");
}