.swiss-army-knife-container {
    $animDuration: 0.5s;

    width: 320px;
    // height: 250px;
    margin: auto;
    position: relative;

    .swiss-army-knife {
        position: absolute;
    }
    //general styles
    .swiss-handle {
        width: 230px;
    }
    .swiss-front {
        top: 200px;
        left: 50px;
    }
    .swiss-inner-1 {
        top: 198px;
        left: 52px;
    }
    .swiss-inner-2 {
        top: 196px;
        left: 54px;
    }
    .swiss-inner-3 {
        top: 194px;
        left: 56px;
    }
    .swiss-1 {
        width: 70px;
        top: 141px;
        left: 250px;
        transform-origin: 0% 100%;
    }
    .swiss-2 {
        width: 130px;
        top: 150px;
        left: 100px;
        transform-origin: 100% 50%;
    }
    .swiss-3 {
        width: 100px;
        top: 107px;
        left: 105px;
        transform-origin: 0% 100%;
    }
    .swiss-4 {
        width: 19px;
        top: 100px;
        left: 80px;
        transform-origin: 0% 100%;
    }
    .swiss-5 {
        width: 50px;
        top: 115px;
        left: 205px;
        transform-origin: 100% 100%;
    }
    .swiss-6 {
        width: 70px;
        top: 120px;
        left: 15px;
        transform-origin: 100% 100%;
    }
    .swiss-7 {
        width: 100px;
        top: 245px;
        left: 80px;
        transform-origin: 0% 0%;
    }
    .swiss-8 {
        width: 50px;
        top: 225px;
        left: 210px;
        transform-origin: 50% 0%;
    }
    .swiss-9 {
        width: 80px;
        top: 235px;
        left: 17px;
    }

    //animation classes
    .swiss-1-anim-forwards {
        animation: swiss1AnimForwards $animDuration linear forwards;
    }
    .swiss-1-anim-backwards {
        animation: swiss1AnimBackwards $animDuration linear forwards;
    }
    .swiss-2-anim-forwards {
        animation: swiss2AnimForwards $animDuration linear forwards;
    }
    .swiss-2-anim-backwards {
        animation: swiss2AnimBackwards $animDuration linear forwards;
    }
    .swiss-3-anim-forwards {
        animation: swiss3AnimForwards $animDuration linear forwards;
    }
    .swiss-3-anim-backwards {
        animation: swiss3AnimBackwards $animDuration linear forwards;
    }
    .swiss-4-anim-forwards {
        animation: swiss4AnimForwards $animDuration linear forwards;
    }
    .swiss-4-anim-backwards {
        animation: swiss4AnimBackwards $animDuration linear forwards;
    }
    .swiss-5-anim-forwards {
        animation: swiss5AnimForwards $animDuration linear forwards;
    }
    .swiss-5-anim-backwards {
        animation: swiss5AnimBackwards $animDuration linear forwards;
    }
    .swiss-6-anim-forwards {
        animation: swiss6AnimForwards $animDuration linear forwards;
    }
    .swiss-6-anim-backwards {
        animation: swiss6AnimBackwards $animDuration linear forwards;
    }
    .swiss-7-anim-forwards {
        animation: swiss7AnimForwards $animDuration linear forwards;
    }
    .swiss-7-anim-backwards {
        animation: swiss7AnimBackwards $animDuration linear forwards;
    }
    .swiss-8-anim-forwards {
        animation: swiss8AnimForwards $animDuration linear forwards;
    }
    .swiss-8-anim-backwards {
        animation: swiss8AnimBackwards $animDuration linear forwards;
    }

    //animations
    @keyframes swiss1AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-130deg);
        }
    }
    @keyframes swiss1AnimBackwards {
        from {
            transform: rotate(-130deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss2AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-22deg);
        }
    }
    @keyframes swiss2AnimBackwards {
        from {
            transform: rotate(-22deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss3AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(45deg);
        }
    }
    @keyframes swiss3AnimBackwards {
        from {
            transform: rotate(45deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss4AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(90deg);
        }
    }
    @keyframes swiss4AnimBackwards {
        from {
            transform: rotate(90deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss5AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-70deg);
        }
    }
    @keyframes swiss5AnimBackwards {
        from {
            transform: rotate(-70deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss6AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(120deg);
        }
    }
    @keyframes swiss6AnimBackwards {
        from {
            transform: rotate(120deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss7AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(-45deg);
        }
    }
    @keyframes swiss7AnimBackwards {
        from {
            transform: rotate(-45deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
    @keyframes swiss8AnimForwards {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(70deg);
        }
    }
    @keyframes swiss8AnimBackwards {
        from {
            transform: rotate(70deg);
        }
        to {
            transform: rotate(0deg);
        }
    }
}
