@font-face {
  font-family: antiqua;
  src: url("../fonts/ModernAntiqua-Regular.ttf") format("truetype");
}
@font-face {
  font-family: wind;
  src: url("../fonts/wind_sans_serif.ttf") format("truetype");
}
@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: carme;
  src: url("../fonts/Carme-Regular.ttf") format("truetype");
}
@font-face {
  font-family: advent-medium;
  src: url("../fonts/AdventPro-Medium.ttf") format("truetype");
}
@font-face {
  font-family: advent-light;
  src: url("../fonts/AdventPro-Light.ttf") format("truetype");
}
#logo-container {
  background-color: #000;
  position: initial;
  width: 100vw;
  z-index: 1;
}
#logo-container .section-logo-background {
  background-color: #000;
  height: 120vh;
  position: fixed;
  top: -20vh;
  user-select: none;
  width: 100vw;
  z-index: 1;
}
#logo-container .section-logo-background h2 {
  bottom: 5%;
  font-family: antiqua, wind, Helvetica, sans-serif;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}
#logo-container #section-logo {
  left: 50%;
  font-size: 4vw;
  height: 15vw;
  min-height: 50vw;
  position: relative;
  transform: translateX(-50%);
  width: 100vw;
  z-index: 1;
}
#logo-container #section-logo #video-container {
  background: #000;
  position: absolute;
  top: 0;
  width: 100%;
}
#logo-container #section-logo #video-container video {
  background: #000;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
#logo-container #section-logo .logo-title {
  color: ivory;
  display: inline-block;
  font-family: antiqua, wind, Helvetica, sans-serif;
  font-size: 10vw;
  position: absolute;
  text-align: center;
  top: 15vw;
  left: 50vw;
  white-space: nowrap;
  transform: translateX(-50%);
  z-index: 1;
}
#logo-container #section-logo .logo-title span {
  display: inline-block;
  opacity: 0;
}
#logo-container #section-logo .logo-title .anim-title {
  animation: animate 1s linear forwards;
}
#logo-container #section-logo .logo-title :nth-child(1) {
  animation-delay: 1s;
  position: relative;
  top: 8px;
}
#logo-container #section-logo .logo-title :nth-child(2) {
  animation-delay: 1.2s;
}
#logo-container #section-logo .logo-title :nth-child(3) {
  animation-delay: 1.4s;
}
#logo-container #section-logo .logo-title :nth-child(4) {
  animation-delay: 2s;
}
#logo-container #section-logo .logo-title :nth-child(5) {
  animation-delay: 2.3s;
}
#logo-container #section-logo .logo-title :nth-child(6) {
  animation-delay: 2.6s;
}
#logo-container #section-logo .logo-title :nth-child(7) {
  animation-delay: 2.5s;
}
#logo-container #section-logo .logo-title :nth-child(8) {
  animation-delay: 2.8s;
}
#logo-container #section-logo .logo-title :nth-child(9) {
  animation-delay: 2.9s;
}
#logo-container #section-logo .logo-title :nth-child(10) {
  animation-delay: 3.1s;
}
#logo-container #section-logo .logo-loading-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  left: 50%;
  top: 60vh;
  transform: translateX(-50%);
  width: 300px;
  z-index: 1;
}
#logo-container .animate-to-bottom {
  cursor: pointer;
  font-size: 1vw;
  text-align: center;
  width: 100%;
}
#logo-container .animate-to-bottom h3 {
  font-family: antiqua, wind, Helvetica, sans-serif;
  margin: 0;
}
#logo-container .fade-out {
  animation: fadeOut 6s forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
#logo-container .fade-out-delay {
  animation: fadeOutDelay 1s 5s forwards;
}
@keyframes fadeOutDelay {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*# sourceMappingURL=logo.css.map */
