#video-container {
  background: #000;
  width: 100vw;

  video {
    object-fit: cover;
    width: 100%;
    // max-height: 700px;

    margin-top: -1000vw;
    @media only screen and (max-width: 3900px) {
      margin-top:-15vw;
    }
    @media only screen and (max-width: 3200px) {
      margin-top:-12vw;
    }
    @media only screen and (max-width: 2700px) {
      margin-top:-12vw;
    }
    @media only screen and (max-width: 2300px) {
      margin-top:-7vw;
    }
    @media only screen and (max-width: 1800px) {
      margin-top: -4vw;
    }
    @media only screen and (max-width: 1340px) {
      margin-top: -2vw;
    }
    @media only screen and (max-width: 900px) {
      margin-top: 1vw;
    }
    @media only screen and (max-width: 640px) {
      margin-top: 5vw;
    }
    @media only screen and (max-width: 580px) {
      margin-top: 15vw;
    }
    @media only screen and (max-width: 420px) {
      margin-top: 25vw;
    }
    @media only screen and (max-width: 319px) {
      display:none;
    }
  }
}

section:before {
  // background:linear-gradient(to right,#f00,#fff);//As cool as this effect is, it only works in Opera/Firefox/Chrome
  content: "";
  height: 100%;
  left: 0;
  mix-blend-mode: color;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
