#section-space-container {

    $starColor: rgb(255, 255, 255);
    $earthColor: #09076F;

    background-color: black;
    border: 0;
    height: 13000px;
    margin-top: 1000px;
    padding: 0;
    position: relative;

    .webgl
    {
        outline: none;
        width:100%;
        aspect-ratio: 1;
        position: absolute;
    }

    .aurora{
        width:74%;
        top:13%;
        aspect-ratio: 1;
        border-radius: 50vw;
        box-shadow: 0 0 100px 1px $earthColor;
        position: absolute;
    }
    
    .earth-container{
        display:flex;
        justify-content: center;
        position: sticky;
        width:0vw;
        top:60vw;
        left:50vw;
        transform: translateX(-50%);
    }
    .star {
        animation: glow 5s ease infinite;
        border-radius: 50%;
        background-color: $starColor;
        display:inline-block;
        position: sticky; 
    }
    .star1 {
        height: 1px;
        width: 1px;
    }
    .star2 {
        height: 2px;
        width: 2px;
    }
    .star3 {
        height: 3px;
        width: 3px;
    }
    .star-container {
        height: 100%;
        position: static;
    }
 
    @keyframes glow {
        0% {
            box-shadow: 0 0 10px 2px $starColor;
        }
        50% {
            box-shadow: 0 0 10px 4px $starColor;
        }
        100% {
            box-shadow: 0 0 10px 2px $starColor;
        }
    }
}
